ul li {
  margin-bottom: 24px; /* Adds 10px of space below each list item */
}

.important-term {
  font-weight: bold;
  text-decoration: underline;
}

.underlined-text {
  text-decoration: underline;
}
