/* PrimeNG CSS (ensure these paths match your node_modules setup) */
/* @import 'primeng/themes/lara-light-blue.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css'; */

/* You can add global styles to this file, and also import other style files */
:root {
  --text: #000000;
  --background: #DAC7AF;
  --primary: #B39D80;
  --secondary: #DAC7AF;
  --accent: #8AA08A;

  --p-menubar-background: #B39D80;
  --surface-ground: #ffffff;
  --surface-card: #ffffff;
  --surface-overlay: #ffffff;
}

/* Force light page background and readable text */
html, body, app-root {
  height: 100%;
  background-color: #ffffff !important;
  color: #000000 !important;
  --p-menubar-background: #B39D80;
  --p-menubar-item-link-color: #000000;

  --p-accordion-header-background: #8AA08A;
  --p-accordion-header-hover-background: #755f75;
  --p-accordion-header-active-hover-background: #755f75;
  --p-accordion-header-active-background: #8AA08A;
  --p-accordion-header-color: #000000;
  --p-accordion-header-active-color: #000000;
  
  --p-accordion-content-background: #8AA08A;
  --p-accordion-content-background: #8AA08A;
}

h2, h3, h4, p, pre, li, table{
  color: #000000;
  margin-top: 0;
}

.p-accordion {
  margin-bottom: 20rem;
}

.interactiveToolText{
  color: #000000;
}