/* __________________________________________________________________________________________________________________ */
/* Root variables — global color palette  */
/* __________________________________________________________________________________________________________________ */
:root {
  --primary: #49D31A;
  --secondary: light-dark(#0F369E, #FFFFFF);

  --page-background: light-dark(#FAFAFA, #1C1B22);
  --content-background: light-dark(#FFFFFF, #1C1B22);

  --border-outline-color: light-dark(#D3D3D3, #D5C2C5);

  --accent: #8AA08A;

  /* PrimeNG theme overrides */
  --p-menubar-background: #B39D80;
  --surface-ground: #ffffff;
  --surface-card: #ffffff;
  --surface-overlay: #ffffff;
}

/* Global page setup — force light background and readable text */
html, body, app-root {
  height: 100%;
  background-color: #DAC7AF !important;   /* Ensures white background across app */
  color: #000000 !important;    /* Ensures black readable text */
  
  /* PrimeNG menubar colors */
  --p-menubar-background: #B39D80;
  --p-menubar-item-link-color: #000000;

  /* PrimeNG accordion custom colors */
  --p-accordion-header-background: #8AA08A;
  --p-accordion-header-hover-background: #755f75;
  --p-accordion-header-active-hover-background: #755f75;
  --p-accordion-header-active-background: #8AA08A;
  --p-accordion-header-color: #000000;
  --p-accordion-header-active-color: #000000;
  
  --p-accordion-content-background: #8AA08A;

/* transition is for when you hover over the accordion headers */
  --p-accordion-transition-duration: 0.3s;
}
/* __________________________________________________________________________________________________________________ */


/* __________________________________________________________________________________________________________________ */
/* Reusable CSS classes for FORMATTING TEXT | */
/* __________________________________________________________________________________________________________________ */
.topic-header {
  border-left: 6px solid var(--primary);
  padding-left: 0.36vh;
  color: var(--secondary);
}

.header-font-size {
  font-size: 2.16rem;
}

.important-term {
  font-weight: bold;
  text-decoration: underline;
}

.underlined-text {
  text-decoration: underline;
}

.primary-color-text {
  color: var(--secondary);
}
/* __________________________________________________________________________________________________________________ */
