h2, h3 {
    text-align: center;
}

/* styling for textbook */
.pdf-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--border-outline-color);
}
.resource-item {
  margin-bottom: 2rem;
}

.resource-item:last-child {
  margin-bottom: 0;
}

.resource-item h4 {
  margin-bottom: 0.5rem;
}

.file-info {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.file-info i {
  font-size: 1rem;
}

/* styling for syllabus */
.pdf-container {
  width: 100%;
  height: 80vh;
  min-height: 600px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .pdf-container {
    height: 70vh;
    min-height: 400px;
  }
}

.pdf-viewer {
  width: 100%;
  height: 100%;
  border: none;
}