
<!-- PrimeNG Menubar component bound to menu items from the TypeScript file -->
<p-menubar [model]="items">
  <!-- START SLOT — Left-side branding -->
  <ng-template #start>
       <!-- App logo (SVG graphic) displayed at the start of the menubar -->
    <div class="logo">
      <a href="/">
        <img
          ngSrc="images/discretelet-logo.svg"
          alt="Discretelet!"
          width="165"
          height="38"
          priority
          class="logo-image"
        >
      </a>
    </div>
  </ng-template>

  <!-- CUSTOM ITEM TEMPLATE — Defines how each menu item looks -->
  <ng-template #item let-item let-root="root">
    <!-- Each menu link; uses PrimeNG Ripple effect and Angular router navigation -->
    <a pRipple class="flex items-center p-menubar-item-link" [routerLink]="item.routerLink">
      <!-- Icon (example: Bitcoin) shown next to label -->
      <i *ngIf="item.icon" [ngClass]="item.icon" style="font-size: 1.5rem; color: rgb(247,173,0);"></i>
      <!-- Menu label text -->
      <span>{{ item.label }}</span>
      <!-- only render bitcoin badge when count is defined and > 0 -->
      <ng-container *ngIf="item.icon === 'pi pi-bitcoin'">
        <ng-container *ngIf="rewards.count$ | async as count">
          <p-badge *ngIf="count > 0" [value]="count" class="ml-2"></p-badge>
        </ng-container>
      </ng-container>

      <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
    </a>
  </ng-template>

    <!-- END SLOT — Right-side section (search + avatar) -->
    <ng-template #end>
        <div>
          <a [routerLink]="'/profile-page'">
            <p-avatar image="https://jcusports.com/images/2020/8/12/JCU_Mark_FullColor_4x_100.jpg" shape="circle" />
          </a>
        </div>
    </ng-template>
</p-menubar>
